# C# files
[*.cs]

# CS8603: Possible null reference return.
dotnet_diagnostic.CS8603.severity = none

# IDE0130: Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity = none

# IDE0079: Remove unnecessary suppression
dotnet_diagnostic.IDE0079.severity = none
