# C# files
[*.cs]

dotnet_diagnostic.CS0618.severity = none # Suppress 'obsolete' warnings for test project
dotnet_diagnostic.CA1707.severity = none # Suppress 'identifiers should not contain underscores' warnings for test project
